<%- include("partials/header") -%>

    <div class="box" id="heading">
        <h1>Todo List</h1>    
    </div>

    <!-- Todo List Items -->


    <!-- Available Todo Lists -->


<%- include("partials/footer") -%>